<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ballot.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ballot.description %>
</p>

<%= link_to 'Edit', edit_ballot_path(@ballot) %> |
<%= link_to 'Back', ballots_path %>
